#remove html file extension https://rrs12.github.io/HHR/index.html
# to https://rrs12.github.io/HHR/about
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

#remove html file extension https://rrs12.github.io/HHR/
# to https://rrs12.github.io/HHR/about
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
